.title-cards{
    margin-top: 30px;
}

.title-cards h2{
    margin-bottom: 8px;
}

.card-list{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}

.card-list::-webkit-scrollbar{
    display: none;
}

.card-list img{
    width: 160px;
    border-radius: 4px;
    cursor: pointer;
}

.card-list .card{
    position: relative;
}

